# Local configuration
config.local.json

# Dependencies
node_modules/

# Testing
coverage/

# Logs
*.log

# Build outputs
packages/**/dist/
# packages/web/public/ is the static/public assets dir, but output is not typically built here
# Remove from ignore if you want to check in static assets or if it's used in the deployment process
packages/web/public/

# Wrangler
.wrangler/
.dev.vars
